<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!--<appSettings>
		<add key="parentTable" value="Leagues"/>
		<add key="childTable" value="Teams"/>
		<add key="parentSelect" value="SELECT * from Leagues"/>
		<add key="childSelect" value="SELECT * from Teams"/>
		<add key="parentPK" value="leagueId"/>
		<add key="childFK" value="leagueId"/>
		<add key="relationship" value="Leagues_Teams"/>
	</appSettings>-->
	<appSettings>
		<add key="parentTable" value="Teams"/>
		<add key="childTable" value="Players"/>
		<add key="parentSelect" value="SELECT * from Teams"/>
		<add key="childSelect" value="SELECT * from Players"/>
		<add key="parentPK" value="teamId"/>
		<add key="childFK" value="teamId"/>
		<add key="relationship" value="Teams_Players"/>
	</appSettings>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=DESKTOP-K35UU70;Initial Catalog=ESports;Integrated Security=True"/>
	</connectionStrings>
</configuration>